/* App.css */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-img {
  width: 24px;
  height: 24px;
}

.logo-text {
  color: #ccc;
  font-size: 12px;
  margin-top: 4px;
}

.title-heading {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.title-heading span {
  color: #22d3ee; /* cyan-400 */
}
